!!!
%html

  %head
    %title= page.title || "dogbiscuit"
    %link{ :href=>href("/style/dogbiscuit.css"), :rel=>"stylesheet", :type=>"text/css" }

  %body

    #header
      
      %ol.menu 
        %li= link("/mdub/weblog", "weblog")
        %li= link("/mdub/about", "about")
        
      %p.title dogbiscuit
      %p.subtitle ... mmm, crunchy!

    #content
      = yield

    #sidebar
      = content_for[:sidebar]

    #footer
      = include("elsewhere.html.haml")
