%ul#elsewhere
  %li= link_elsewhere("twitter", "http://twitter.com/woollyams", "@woollyams")
  %li= link_elsewhere("github", "http://github.com/mdub", "github.com/mdub")
  %li= link_elsewhere("delicious", "http://delicious.com/mdub", "delicious links")
  %li= link_elsewhere("linkedin", "http://au.linkedin.com/in/mdubya", "LinkedIn profile")
  %li= link_elsewhere("email", "mailto:mdub@dogbiscuit.org", "mdub@dogbiscuit.org")
