%h4 Featured articles:

%ul#featured
  %li= link("weblog/Tech/Agile/CarefulSoftwareDevelopment.html")
  %li= link("weblog/Tech/Projects/ShamRack.html")
  %li= link("weblog/Tech/Programming/Ruby/SpyingOnYourCodeWithRR.html")
  %li= link("weblog/Tech/Agile/ThePointOfContinuousIntegration.html")
  %li= link("weblog/Tech/Programming/AttackingSlowRunningBuildsAtCitcon.html")
  %li= link("weblog/Tech/Programming/Ruby/RakeProfiling.html")
  %li= link("weblog/Tech/Programming/Java/AntBuildTips.html")
  %li= link("weblog/Tech/Programming/Ruby/Ruby@EJA.html")
  %li= link("weblog/", "... more ...")
