%h4 Featured articles:

%ul#featured
  %li= link("weblog/Tech/DevOps/CloudFoundry/DatabaseMigrationsOnCloudFoundry.html")
  %li= link("weblog/Tech/DevOps/CloudFoundry/PlayingWithCloudFoundryV2.html")
  %li= link("weblog/Tech/Programming/Ruby/AutotestHooks.html")
  %li= link("weblog/Tech/Programming/Ruby/MultiThreadedProcessingWithLazyEnumerables.html")
  %li= link("weblog/Tech/Agile/ThreeRsOfTestAutomation.html")
  %li= link("weblog/Tech/Agile/FlippingTheCardWall.html")
  %li= link("weblog/Tech/Projects/Clamp.html")
  %li= link("weblog/Tech/Projects/OneProjectThreeGems.html")
  %li= link("weblog/Tech/Agile/CarefulSoftwareDevelopment.html")
  %li= link("weblog/", "... more ...")
