%h4 Featured articles:

%ul#featured
  %li= link("weblog/Tech/Projects/Clamp.html")
  %li= link("weblog/Tech/Programming/Ruby/GemRequire.html")
  %li= link("weblog/Tech/Projects/OneProjectThreeGems.html")
  %li= link("weblog/Tech/Agile/AllAboardTheReleaseBus.html")
  %li= link("weblog/Tech/Agile/CarefulSoftwareDevelopment.html")
  %li= link("weblog/Tech/Projects/ShamRack.html")
  %li= link("weblog/Tech/Agile/ThePointOfContinuousIntegration.html")
  %li= link("weblog/Tech/Programming/Java/AntBuildTips.html")
  %li= link("weblog/", "... more ...")
